.image-holder{
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  width: 200px;
}
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

  
.banner-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
  
.banner {
  position: absolute;
  overflow: hidden;
  
  &.dev {
    // transform: skew(-30deg);
    width: 200px;
    .banner-content {
      // transform: skew(30deg);
    }
  }
  .banner-content {
    height: 200px;
  }
  img {
    width: 200px;
  }
}
